<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios@1.2.2/dist/axios.min.js"></script>
    <style>

    </style>
</head>

<body>
    <input type="file" id="file" name="title" multiple />
    <div>
        <button id="info">输出文件对象</button>
        <button id="upload">上 传</button>
        <button id="abort">Abort</button>

    </div>
    <img id="img" />
    <div id="progress" style="display:none;">
    </div>

    <div>
        --------------分割线-------------
    </div>
    <div style="background-color: #00a2e9;width:200px;height:200px;" id="drop">
        拖拽文件区域
    </div>
    <div id="dropImg"></div>
    <button id="upload2">拖拽上传</button>

    <div>
        --------------分割线-------------
    </div>

    <div id="editor" style="border:1px solid #ccc;outline:none;width:400px;height:400px;" contenteditable="true">

    </div>

    <div>
        --------------分割线-------------
    </div>
    <input type="file" id="bigFile" name="title" multiple />
    <div>
        <button id="bigUpload">大文件上传</button>
        <span id="bigText"></span>
    </div>

    <div>
        --------------分割线-------------
    </div>
    <input type="file" id="shakeFile" name="title" multiple />
    <div>
        <button id="shakeUpload">大文件断点上传</button>
        <button id="shakeStop">暂停</button>
        <span id="shakeText"></span>
    </div>

    <script>
        const harexsLimit = (maxCount) => {
            let activeCount = 0
            let waitTask = []

            const execute = (asyncFn, ...args) => {
                return new Promise((resolve, reject) => {
                    const task = create(asyncFn, args, resolve, reject)
                    if (activeCount >= maxCount) {
                        waitTask.push(task)
                    } else {
                        task()
                    }
                })
            }

            const create = (asyncFn, args, resolve, reject) => {
                return () => {
                    asyncFn(...args).then(resolve).catch(reject).finally(() => {
                        activeCount--
                        if (waitTask.length) {
                            waitTask.shift()()
                        }
                    })
                    activeCount++
                }
            }

            return execute
        }


        let limitP = harexsLimit(3)

        function sleep(sec) {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve()
                    setTimeout(() => {
                        console.log('并发限制为3')
                    }, sec * 1000)
                })
            })
        }

        limitP(sleep, 1)
        limitP(sleep, 1)
        limitP(sleep, 3)
        limitP(sleep, 1)


















        let controller = new AbortController();
        const getEle = (element) => {
            return document.querySelector(element)
        }
        const info = getEle('#info')
        const upload = getEle('#upload')
        const file = getEle('#file')
        const progress = getEle('#progress')
        const img = getEle('#img')
        const drop = getEle('#drop')
        const upload2 = getEle('#upload2')
        const dropImg = getEle('#dropImg')
        const bigFile = getEle('#bigFile')
        const bigUpload = getEle('#bigUpload')
        const shakeUpload = getEle('#shakeUpload')
        const shakeStop = getEle('#shakeStop')
        const shakeFile = getEle('#shakeFile')


        //编辑器粘贴
        editor.addEventListener('paste', (e) => {
            console.log(e.clipboardData.files)
            let formData = new FormData()

            Object.values(e.clipboardData.files).forEach(item => {
                formData.append('f1', item)
            })

            axios({
                url: 'http://localhost:3000/',
                method: 'post',
                data: formData,
            }).then(res => {
                const resAry = res.data.data
                resAry.forEach(item => {
                    const img = document.createElement('img')
                    img.src = item

                    var node = window.getSelection().anchorNode;
                    if (node != null) {
                        range = window.getSelection().getRangeAt(0);// 获取光标起始位置
                        range.insertNode(img);// 在光标位置插入该对象
                    } else {
                        editor.append(img);
                    }
                })
            })
        })

        //拖拽API
        drop.addEventListener('dragover', (e) => {
            console.log('drop dragover');
            e.preventDefault()
        })
        drop.addEventListener('dragleave', (e) => {
            console.log('drop dragleave');
            e.preventDefault()
        })
        drop.addEventListener('drop', (e) => {
            e.preventDefault()
            //拿取文件对象走 上传文件逻辑即可
            let formData = new FormData()

            Object.values(e.dataTransfer.files).forEach(item => {
                formData.append('f1', item)
            })

            axios({
                url: 'http://localhost:3000/upload',
                method: 'post',
                data: formData,
            }).then(res => {
                const resAry = res.data.data
                resAry.forEach(item => {
                    const img = document.createElement('img')
                    img.src = item

                    dropImg.append(img)
                })
            })
        })
        //输出文件对象
        info.addEventListener('click', () => {
            console.log(file.files)
        })
        //取消上传
        abort.addEventListener('click', () => {
            controller.abort()
        })
        //文件预览
        file.addEventListener('change', () => {
            img.src = window.URL.createObjectURL(file.files[0])
            img.onload = () => {
                window.URL.revokeObjectURL(img.src)
            }
        })
        //文件上传
        upload.addEventListener('click', () => {
            const formData = new FormData()
            if (file.files.length > 0) {
                Object.values(file.files).forEach((item) => {
                    formData.append(`f1`, item)
                })
            }

            axios({
                url: 'http://localhost:3000/upload',
                method: 'post',
                data: formData,
                signal: controller.signal,
                //浏览器事件
                onUploadProgress(progressEvent) {
                    console.log(progressEvent)
                    let percent = (event.loaded / event.total * 100).toFixed(2);
                    progress.style.display = 'block'
                    progress.style.backgroundColor = 'red'
                    progress.style.width = `${percent}%`
                    progress.innerHTML = `${percent}%`
                    if (percent > 80) {
                        progress.style.backgroundColor = 'green'
                    }
                }
            }).then(res => {
                console.log(res)
            })

        })

        //大文件上传
        bigUpload.addEventListener('click', () => {
            const chunkSize = 2 * 1024 * 1024
            const file = bigFile.files[0]
            let chunks = []
            let token = +new Date()
            let name = file.name
            let chunkCount = 0
            let sendChunkCount = 0

            if (file.size > chunkSize) {
                let start = 0
                let end = 0
                while (true) {
                    end += chunkSize
                    let blob = file.slice(start, end)
                    start += chunkSize

                    //截取数据为空 代码这个片段没东西了
                    if (!blob.size) break;
                    chunks.push(blob)
                }
            } else {
                chunks.push(blob)
            }

            chunkCount = chunks.length

            for (let i = 0; i < chunkCount; i++) {
                let fd = new FormData()
                fd.append('token', token)
                fd.append('f1', chunks[i])
                fd.append('index', i)
                axios({
                    url: 'http://localhost:3000/bigUpload',
                    method: 'post',
                    data: fd,
                }).then(res => {
                    sendChunkCount += 1
                    //说明全部切片上传完成
                    if (sendChunkCount === chunkCount) {
                        let formD = new FormData()
                        formD.append('type', 'merge')
                        formD.append('token', token)
                        formD.append('chunkCount', chunkCount)
                        formD.append('filename', name)
                        axios({
                            url: 'http://localhost:3000/bigUpload',
                            method: 'post',
                            data: formD,
                        }).then((res) => {
                            getEle('#bigText').innerHTML = `总切片执行完成,${res.data.f1[0]}`
                        })
                    }
                })
            }
        })


        //大文件 断点上传
        function getStorageChunk(token, index) {
            const tokenObj = JSON.parse(localStorage.getItem(token)) || {}
            return tokenObj[index]
        }
        function setStorageChunk(token, index) {
            const tokenObj = JSON.parse(localStorage.getItem(token)) || {}
            tokenObj[index] = true
            localStorage.setItem(token, JSON.stringify(tokenObj))
        }
        function getSendChunk(token) {
            const tokenObj = JSON.parse(localStorage.getItem(token)) || {}
            return tokenObj['sendNum'] || 0
        }
        function setSendChunk(token) {
            const tokenObj = JSON.parse(localStorage.getItem(token)) || {}
            tokenObj['sendNum'] = tokenObj['sendNum'] ? tokenObj['sendNum'] + 1 : 1
            localStorage.setItem(token, JSON.stringify(tokenObj))
            return tokenObj['sendNum']
        }

        shakeStop.addEventListener('click', () => {
            controller.abort()
        })
        shakeUpload.addEventListener('click', () => {
            controller = new AbortController()

            const chunkSize = 2 * 1024 * 1024
            const file = shakeFile.files[0]
            let chunks = []
            let token = +new Date()
            let name = file.name
            let block = name.split('.')
            let chunkCount = 0
            let sendChunkCount = getSendChunk(token)

            if (file.size > chunkSize) {
                let start = 0
                let end = 0
                while (true) {
                    end += chunkSize
                    let blob = file.slice(start, end)
                    start += chunkSize

                    //截取数据为空 代码这个片段没东西了
                    if (!blob.size) break;
                    chunks.push(blob)
                }
            } else {
                chunks.push(blob)
            }

            chunkCount = chunks.length



            for (let i = 0; i < chunkCount; i++) {
                //记录切片
                if (getStorageChunk(name, i)) {
                    continue
                }

                let fd = new FormData()
                fd.append('token', block[0])
                fd.append('f1', chunks[i])
                fd.append('index', i)
                axios({
                    url: 'http://localhost:3000/bigUpload',
                    method: 'post',
                    data: fd,
                    signal: controller.signal
                }).then(res => {
                    setStorageChunk(name, i)
                    sendChunkCount = setSendChunk(name)
                    //说明全部切片上传完成
                    if (sendChunkCount === chunkCount) {
                        let formD = new FormData()
                        formD.append('type', 'merge')
                        formD.append('token', block[0])
                        formD.append('chunkCount', chunkCount)
                        formD.append('filename', name)
                        axios({
                            url: 'http://localhost:3000/bigUpload',
                            method: 'post',
                            data: formD,
                            signal: controller.signal
                        }).then((res) => {
                            localStorage.removeItem(name)
                            getEle('#shakeText').innerHTML = `总切片执行完成,${res.data.f1[0]}`
                        })
                    }
                })
            }
        })

    </script>
</body>

</html>